---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/books?fromReleaseDate=2010-09-22T00%3A00%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 29 Dec 2016 17:48:23 GMT
      etag:
      - '"b4ed718244e24ddeaaed6c2c5234290f"'
      link:
      - <http://www.anapioficeandfire.com/api/books?fromReleaseDate=09%2F22%2F2010%2000%3A00%3A00&page=1&pageSize=10>;
        rel="first", <http://www.anapioficeandfire.com/api/books?fromReleaseDate=09%2F22%2F2010%2000%3A00%3A00&page=1&pageSize=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/books/7\",\r\n
        \   \"name\": \"The Mystery Knight\",\r\n    \"isbn\": \"978-0765360267\",\r\n
        \   \"authors\": [\r\n      \"George R. R. Martin\"\r\n    ],\r\n    \"numberOfPages\":
        416,\r\n    \"publisher\": \"Tor Fantasy\",\r\n    \"country\": \"United States\",\r\n
        \   \"mediaType\": \"Hardcover\",\r\n    \"released\": \"2011-03-29T00:00:00\",\r\n
        \   \"characters\": [\r\n      \"http://www.anapioficeandfire.com/api/characters/30\",\r\n
        \     \"http://www.anapioficeandfire.com/api/characters/35\",\r\n      \"http://www.anapioficeandfire.com/api/characters/38\",\r\n
        \     \"http://www.anapioficeandfire.com/api/characters/41\",\r\n      \"http://www.anapioficeandfire.com/api/characters/46\",\r\n
        \     \"http://www.anapioficeandfire.com/api/characters/47\",\r\n      \"http://www.anapioficeandfire.com/api/characters/50\",\r\n
        \  [...]
