---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/books/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 23 Dec 2016 21:29:04 GMT
      etag:
      - '"1d8396fd99c14246b37a5cd6f2affc1a"'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"url\": \"http://www.anapioficeandfire.com/api/books/1\",\r\n
        \ \"name\": \"A Game of Thrones\",\r\n  \"isbn\": \"978-0553103540\",\r\n
        \ \"authors\": [\r\n    \"George R. R. Martin\"\r\n  ],\r\n  \"numberOfPages\":
        694,\r\n  \"publisher\": \"Bantam Books\",\r\n  \"country\": \"United States\",\r\n
        \ \"mediaType\": \"Hardcover\",\r\n  \"released\": \"1996-08-01T00:00:00\",\r\n
        \ \"characters\": [\r\n    \"http://www.anapioficeandfire.com/api/characters/2\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/12\",\r\n    \"http://www.anapioficeandfire.com/api/characters/13\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/16\",\r\n    \"http://www.anapioficeandfire.com/api/characters/20\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/27\",\r\n    \"http://www.anapioficeandfire.com/api/characters/31\",\r\n
        \   \"http://www.a[...]
