---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/books?name=A+Storm+Of+Swords
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 26 Dec 2016 15:20:52 GMT
      etag:
      - '"d9dba20c50ef4fee962090e983c71e6d"'
      link:
      - <http://www.anapioficeandfire.com/api/books?name=A%20Storm%20Of%20Swords&page=1&pageSize=10>;
        rel="first", <http://www.anapioficeandfire.com/api/books?name=A%20Storm%20Of%20Swords&page=1&pageSize=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/books/3\",\r\n
        \   \"name\": \"A Storm of Swords\",\r\n    \"isbn\": \"978-0553106633\",\r\n
        \   \"authors\": [\r\n      \"George R. R. Martin\"\r\n    ],\r\n    \"numberOfPages\":
        992,\r\n    \"publisher\": \"Bantam Books\",\r\n    \"country\": \"United
        States\",\r\n    \"mediaType\": \"Hardcover\",\r\n    \"released\": \"2000-10-31T00:00:00\",\r\n
        \   \"characters\": [\r\n      \"http://www.anapioficeandfire.com/api/characters/2\",\r\n
        \     \"http://www.anapioficeandfire.com/api/characters/3\",\r\n      \"http://www.anapioficeandfire.com/api/characters/7\",\r\n
        \     \"http://www.anapioficeandfire.com/api/characters/12\",\r\n      \"http://www.anapioficeandfire.com/api/characters/13\",\r\n
        \     \"http://www.anapioficeandfire.com/api/characters/16\",\r\n      \"http://www.anapioficeandfire.com/api/characters/20\",\r\n
        \     [...]
