---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/characters?gender=Female&isAlive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 29 Dec 2016 17:42:18 GMT
      etag:
      - '"85b3ce8f67314deca9b1b8883a009c3e"'
      link:
      - <http://www.anapioficeandfire.com/api/characters?isAlive=False&gender=Female&page=2&pageSize=10>;
        rel="next", <http://www.anapioficeandfire.com/api/characters?isAlive=False&gender=Female&page=1&pageSize=10>;
        rel="first", <http://www.anapioficeandfire.com/api/characters?isAlive=False&gender=Female&page=38&pageSize=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/characters/16\",\r\n
        \   \"name\": \"Margaery Tyrell\",\r\n    \"gender\": \"Female\",\r\n    \"culture\":
        \"Westeros\",\r\n    \"born\": \"In 283 AC, at Highgarden\",\r\n    \"died\":
        \"\",\r\n    \"titles\": [\r\n      \"Queen of the Seven Kingdoms\"\r\n    ],\r\n
        \   \"aliases\": [\r\n      \"The Little Queen\",\r\n      \"The Little Rose\",\r\n
        \     \"Maid Margaery\"\r\n    ],\r\n    \"father\": \"\",\r\n    \"mother\":
        \"\",\r\n    \"spouse\": \"http://www.anapioficeandfire.com/api/characters/862\",\r\n
        \   \"allegiances\": [\r\n      \"http://www.anapioficeandfire.com/api/houses/398\"\r\n
        \   ],\r\n    \"books\": [\r\n      \"http://www.anapioficeandfire.com/api/books/1\",\r\n
        \     \"http://www.anapioficeandfire.com/api/books/2\",\r\n      \"http://www.anapioficeandfire.com/api/books/3\",\r\n
        \     \"http://www.anapioficeandfire.com/api/books/5\",\r\n      \"http://www.anapioficeandfire.com/api/books/8\"\r\n
        \   ],\r\n    \"povBooks\": [],\r\n    \"tvSeries\": [\r\n      \"Season 2\",\r\n
        \     \"Season 3\",\r\n      \"Season 4\",\r\n      \"Season 5\",\r\n      \"Season
        6\"\r\n    ],\r\n    \"playedBy\": [\r\n      \"Natalie Dormer\"\r\n    ]\r\n
        \ },\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/characters/17\",\r\n
        \   \"name\": \"Melicent\",\r\n    \"gender\": \"Female\",\r\n    \"culture\":
        \"\",\r\n    \"born\": \"\",\r\n    \"died\": \"\",\r\n    \"titles\": [\r\n
        \     \"Septa\"\r\n    ],\r\n    \"aliases\": [],\r\n    \"father\": \"\",\r\n
        \   \"mother\": \"\",\r\n    \"spouse\": \"\",\r\n    \"allegiances\": [],\r\n
        \   \"[...]
