---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/characters?name=Jon+Snow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 26 Dec 2016 00:29:07 GMT
      etag:
      - '"a7d67d91f3c94f979d7e1d90f3b71e09"'
      link:
      - <http://www.anapioficeandfire.com/api/characters?name=Jon%20Snow&page=1&pageSize=10>;
        rel="first", <http://www.anapioficeandfire.com/api/characters?name=Jon%20Snow&page=1&pageSize=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/characters/583\",\r\n
        \   \"name\": \"Jon Snow\",\r\n    \"gender\": \"Male\",\r\n    \"culture\":
        \"Northmen\",\r\n    \"born\": \"In 283 AC\",\r\n    \"died\": \"\",\r\n    \"titles\":
        [\r\n      \"Lord Commander of the Night's Watch\"\r\n    ],\r\n    \"aliases\":
        [\r\n      \"Lord Snow\",\r\n      \"Ned Stark's Bastard\",\r\n      \"The
        Snow of Winterfell\",\r\n      \"The Crow-Come-Over\",\r\n      \"The 998th
        Lord Commander of the Night's Watch\",\r\n      \"The Bastard of Winterfell\",\r\n
        \     \"The Black Bastard of the Wall\",\r\n      \"Lord Crow\"\r\n    ],\r\n
        \   \"father\": \"\",\r\n    \"mother\": \"\",\r\n    \"spouse\": \"\",\r\n
        \   \"allegiances\": [\r\n      \"http://www.anapioficeandfire.com/api/houses/362\"\r\n
        \   ],\r\n    \"books\": [\r\n      \"http://www.anapioficeandfire.com/api/books/5\"\r\n
        \   ],\r\n    \"povBooks\": [\r\n      \"http://www.anapioficeandfire.com/api/books/1\",\r\n
        \     \"http://www.anapioficeandfire.com/api/books/2\",\r\n      \"http://www.anapioficeandfire.com/api/books/3\",\r\n
        \     \"http://www.anapioficeandfire.com/api/books/8\"\r\n    ],\r\n    \"tvSeries\":
        [\r\n      \"Season 1\",\r\n      \"Season 2\",\r\n      \"Season 3\",\r\n
        \     \"Season 4\",\r\n      \"Season 5\",\r\n      \"Season 6\"\r\n    ],\r\n
        \   \"playedBy\": [\r\n      \"Kit Harington\"\r\n    ]\r\n  }\r\n]"
  recorded_at: Mon, 26 Dec 2016 15:23:37 GMT
recorded_with: VCR 3.0.3
