---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/characters/1052
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Sat, 24 Dec 2016 13:16:49 GMT
      etag:
      - '"3ae040c158f048da9a9b0934cf6fd89e"'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"url\": \"http://www.anapioficeandfire.com/api/characters/1052\",\r\n
        \ \"name\": \"Tyrion Lannister\",\r\n  \"gender\": \"Male\",\r\n  \"culture\":
        \"\",\r\n  \"born\": \"In 273 AC, at Casterly Rock\",\r\n  \"died\": \"\",\r\n
        \ \"titles\": [\r\n    \"Acting Hand of the King (former)\",\r\n    \"Master
        of Coin (former)\"\r\n  ],\r\n  \"aliases\": [\r\n    \"The Imp\",\r\n    \"Halfman\",\r\n
        \   \"The boyman\",\r\n    \"Giant of Lannister\",\r\n    \"Lord Tywin's Doom\",\r\n
        \   \"Lord Tywin's Bane\",\r\n    \"Yollo\",\r\n    \"Hugor Hill\",\r\n    \"No-Nose\",\r\n
        \   \"Freak\",\r\n    \"Dwarf\"\r\n  ],\r\n  \"father\": \"\",\r\n  \"mother\":
        \"\",\r\n  \"spouse\": \"http://www.anapioficeandfire.com/api/characters/2044\",\r\n
        \ \"allegiances\": [\r\n    \"http://www.anapioficeandfire.com/api/houses/229\"\r\n
        \ ],\r\n  \"books\": [\r\n    \"http://www.anapioficeandfire.com/api/books/5\",\r\n
        \   \"http://www.anapioficeandfire.com/api/books/11\"\r\n  ],\r\n  \"povBooks\":
        [\r\n    \"http://www.anapioficeandfire.com/api/books/1\",\r\n    \"http://www.anapioficeandfire.com/api/books/2\",\r\n
        \   \"http://www.anapioficeandfire.com/api/books/3\",\r\n    \"http://www.anapioficeandfire.com/api/books/8\"\r\n
        \ ],\r\n  \"tvSeries\": [\r\n    \"Season 1\",\r\n    \"Season 2\",\r\n    \"Season
        3\",\r\n    \"Season 4\",\r\n    \"Season 5\",\r\n    \"Season 6\"\r\n  ],\r\n
        \ \"playedBy\": [\r\n    \"Peter Dinklage\"\r\n  ]\r\n}"
  recorded_at: Mon, 26 Dec 2016 15:23:37 GMT
recorded_with: VCR 3.0.3
