---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/houses?name=House+Hawthorne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 26 Dec 2016 15:20:53 GMT
      etag:
      - '"572c9e8fe3464b168cd1be2b2b69c177"'
      link:
      - <http://www.anapioficeandfire.com/api/houses?name=House%20Hawthorne&page=1&pageSize=10>;
        rel="first", <http://www.anapioficeandfire.com/api/houses?name=House%20Hawthorne&page=1&pageSize=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/houses/188\",\r\n
        \   \"name\": \"House Hawthorne\",\r\n    \"region\": \"The Westerlands\",\r\n
        \   \"coatOfArms\": \"A ring of black thorns and a ring of pink flowers, interlocked,
        on a green field(Vert, two interlocking annulets, one composed of thorns sable,
        the other of flowers carnation)\",\r\n    \"words\": \"\",\r\n    \"titles\":
        [],\r\n    \"seats\": [],\r\n    \"currentLord\": \"\",\r\n    \"heir\": \"\",\r\n
        \   \"overlord\": \"http://www.anapioficeandfire.com/api/houses/229\",\r\n
        \   \"founded\": \"\",\r\n    \"founder\": \"\",\r\n    \"diedOut\": \"\",\r\n
        \   \"ancestralWeapons\": [],\r\n    \"cadetBranches\": [],\r\n    \"swornMembers\":
        []\r\n  }\r\n]"
  recorded_at: Thu, 29 Dec 2016 17:31:40 GMT
recorded_with: VCR 3.0.3
