---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/houses/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 23 Dec 2016 14:54:40 GMT
      etag:
      - '"85cd203fc8b5474389023af0a5edb906"'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"url\": \"http://www.anapioficeandfire.com/api/houses/17\",\r\n
        \ \"name\": \"House Baratheon of Storm's End\",\r\n  \"region\": \"The Stormlands\",\r\n
        \ \"coatOfArms\": \"A black crowned stag, on a gold field(Or, a stag salient,
        crowned, sable)\",\r\n  \"words\": \"Ours is the Fury\",\r\n  \"titles\":
        [\r\n    \"Lord of Storm's End\",\r\n    \"Lord Paramount of the Stormlands\"\r\n
        \ ],\r\n  \"seats\": [\r\n    \"Storm's End\",\r\n    \"Dragonstone (House
        Baratheon of Dragonstone)\"\r\n  ],\r\n  \"currentLord\": \"http://www.anapioficeandfire.com/api/characters/1029\",\r\n
        \ \"heir\": \"http://www.anapioficeandfire.com/api/characters/775\",\r\n  \"overlord\":
        \"http://www.anapioficeandfire.com/api/houses/16\",\r\n  \"founded\": \"1
        AC\",\r\n  \"founder\": \"http://www.anapioficeandfire.com/api/characters/797\",\r\n
        \ \"diedOut\": \"\",\r\n  \"ancestralWeapons\": [],\r\n  \"cadetBranches\":
        [\r\n    \"http://www.anapioficeandfire.com/api/houses/15\",\r\n    \"http://www.anapioficeandfire.com/api/houses/16\",\r\n
        \   \"http://www.anapioficeandfire.com/api/houses/33\",\r\n    \"http://www.anapioficeandfire.com/api/houses/423\"\r\n
        \ ],\r\n  \"swornMembers\": [\r\n    \"http://www.anapioficeandfire.com/api/characters/110\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/128\",\r\n    \"http://www.anapioficeandfire.com/api/characters/216\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/230\",\r\n    \"http://www.anapioficeandfire.com/api/characters/249\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/315\",\r\n    \"http://www.anapioficeandfire.com/api/characters/435\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/679\",\r\n    \"http://www.anapioficeandfire.com/api/characters/794\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/797\",\r\n    \"http://www.anapioficeandfire.com/api/characters/862\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/870\",\r\n    \"http://www.anapioficeandfire.com/api/characters/986\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/1044\",\r\n    \"http://www.anapioficeandfire.com/api/characters/1188\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/1233\",\r\n    \"http://www.anapioficeandfire.com/api/characters/1355\",\r\n
        \   \"http://www.anapioficeandfire.com/api/characters/1473\",\r\n    \"http://www.anapioficeandfire.com/api/characters/1552\"\r\n
        \ ]\r\n}"
  recorded_at: Mon, 26 Dec 2016 15:23:37 GMT
recorded_with: VCR 3.0.3
