---
http_interactions:
- request:
    method: get
    uri: http://www.anapioficeandfire.com/api/houses?pageSize=5&region=The+North
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 29 Dec 2016 17:54:19 GMT
      etag:
      - '"71b7880ba24a4a10a9f064bc3ad95726"'
      link:
      - <http://www.anapioficeandfire.com/api/houses?region=The%20North&page=2&pageSize=5>;
        rel="next", <http://www.anapioficeandfire.com/api/houses?region=The%20North&page=1&pageSize=5>;
        rel="first", <http://www.anapioficeandfire.com/api/houses?region=The%20North&page=13&pageSize=5>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/houses/3\",\r\n
        \   \"name\": \"House Amber\",\r\n    \"region\": \"The North\",\r\n    \"coatOfArms\":
        \"\",\r\n    \"words\": \"\",\r\n    \"titles\": [],\r\n    \"seats\": [],\r\n
        \   \"currentLord\": \"\",\r\n    \"heir\": \"\",\r\n    \"overlord\": \"\",\r\n
        \   \"founded\": \"\",\r\n    \"founder\": \"\",\r\n    \"diedOut\": \"\",\r\n
        \   \"ancestralWeapons\": [],\r\n    \"cadetBranches\": [],\r\n    \"swornMembers\":
        []\r\n  },\r\n  {\r\n    \"url\": \"http://www.anapioficeandfire.com/api/houses/9\",\r\n
        \   \"name\": \"House Ashwood\",\r\n    \"region\": \"The North\",\r\n    \"coatOfArms\":
        \"\",\r\n    \"words\": \"\",\r\n    \"titles\": [],\r\n    \"seats\": [],\r\n
        \   \"currentLord\": \"\",\r\n    \"heir\": \"\",\r\n    \"overlord\": \"http://www.anapioficeandfire.com/api/houses/34\",\r\n
        \   \"founded\": \"\",\r\n    \"founder\": \"\",\r\n    \"diedOut\": \"\",[...]
